<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="win_left" value="0" />
    <add key="win_top" value="0" />
    <add key="win_width" value="1560" />
    <add key="win_height" value="970" />
    <!--
    <add key="open_url" value="http://183.6.27.3:8051/#/device-control?hosId=b7b3c695aa2b4dbd9812d1a510fdf644&amp;userId=5B408040F89E48A1A1C5C4D0C2067175" />
    -->
    <add key="open_url" value="http://baidu.com" />
  </appSettings>
</configuration>